<div class="middle col-10 offset-1">

    <div class="interaBar">
        <div id="inputsDiv">
            <input type="range" id="input-left-first" (input)="moveLeft(1)" min="0" max="47" value="0">
            <input type="range" id="input-right-first" (input)="moveRight(1)" min="0" max="47" value="11">
            <input type="range" id="input-left-second" (input)="moveLeft(2)" min="0" max="47" value="12">
            <input type="range" id="input-right-second" (input)="moveRight(2)" min="0" max="47" value="23">
            <input type="range" id="input-left-third" (input)="moveLeft(3)" min="0" max="47" value="24">
            <input type="range" id="input-right-third" (input)="moveRight(3)" min="0" max="47" value="35">
            <input type="range" id="input-left-fourth" (input)="moveLeft(4)" min="0" max="47" value="36">
            <input type="range" id="input-right-fourth" (input)="moveRight(4)" min="0" max="47" value="47">
        </div>


        <!-- thumbs -->
        <div class="slider">
            <div class="track"></div>
            <div class="range first"></div>
            <div class="range second"></div>
            <div class="range third"></div>
            <div class="range fourth"></div>
            <div class="thumb left first"></div>
            <div class="thumb right first"></div>
            <div class="thumb left second"></div>
            <div class="thumb right second"></div>
            <div class="thumb left third"></div>
            <div class="thumb right third"></div>
            <div class="thumb left fourth"></div>
            <div class="thumb right fourth"></div>
        </div>

        <!-- toggle popover bubble -->
        <div class="bubbles">
            <div id="bubble1s" class="generalBubbleStyle">{{section1.start}}</div>
            <div id="bubble1e" class="generalBubbleStyle">{{section1.end}}</div>
            <div id="bubble2s" class="generalBubbleStyle">{{section2.start}}</div>
            <div id="bubble2e" class="generalBubbleStyle">{{section2.end}}</div>
            <div id="bubble3s" class="generalBubbleStyle"> {{section3.start}}</div>
            <div id="bubble3e" class="generalBubbleStyle">{{section3.end}}</div>
            <div id="bubble4s" class="generalBubbleStyle">{{section4.start}}</div>
            <div id="bubble4e" class="generalBubbleStyle">{{section4.end}}</div>
        </div>

        <!-- barre breakpoints -->
        <div class="container-breakpoints">
            <div class="breakpointLeft"></div>
            <div class="breakpointLeft"></div>
            <div class="breakpointLeft"></div>
            <div class="breakpointLeft breakpointRight"></div>
        </div>

        <!-- orari breakpoints -->
        <div class="container-breakpoints1">
            <div class="timeBreakpoint">00:00</div>
            <div class="timeBreakpoint">06:00</div>
            <div class="timeBreakpoint">12:00</div>
            <div class="timeBreakpoint lastRelative">18:00
                <span class="lastAbsolute">24:00</span>
            </div>
        </div>
    </div>




    <br><br><br>
    <button class="btn btn-primary" id="saveTimeMenu" (click)="saveChosenTime()">Salva orari Inizio e Fine menù</button>

    <!-- <br><br><br>
    <div class="recapTimeSection">
        <h4>Sezione 1:</h4>
        <p>- start: {{section1.start}}</p>
        <p>- end: {{section1.end}}</p>

        <h4>Sezione 2:</h4>
        <p>- start: {{section2.start}}</p>
        <p>- end: {{section2.end}}</p>

        <h4>Sezione 3:</h4>
        <p>- start: {{section3.start}}</p>
        <p>- end: {{section3.end}}</p>

        <h4>Sezione 4:</h4>
        <p>- start: {{section4.start}}</p>
        <p>- end: {{section4.end}}</p>
    </div>
    <br><br> -->



</div>