.middle {
    min-height: 100vh;
    .interaBar {
        // INPUT RANGE VERI
        input[type=range] {
            -webkit-appearance: none;
            background-color: transparent;
            // opacity: 0;
            position: absolute;
            pointer-events: none;
            z-index: 2;
            height: 10px;
            width: 82.5%;
            margin-top: 20px;
        }
        // PALLINI DEGLI INPUT RANGE (quelli che effettivamente rimarranno sotto e io non vedrò, ma che sposteranno di riflesso quelli sopra visibili)
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            background-color: yellow;
            position: relative;
            pointer-events: all;
            cursor: pointer;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-top: -8px;
            margin-left: +5px;
            margin-right: -5px;
        }
        input[type=range]::-webkit-slider-runnable-track {
            -webkit-appearance: none;
            height: 15px;
            // background-color: red;
        }
        // BARRA
        .slider {
            position: relative;
            z-index: 1;
            height: 10px;
            margin-top: 3em;
            // traccia unica di sfondo sopra tutti i range deli input range (non effettiva, ma quella che vediamo x avere 1 sola barra comune a tutti gli input)
            .track {
                position: absolute;
                z-index: 1;
                top: 0;
                width: 100%;
                height: 40px;
                border-radius: 30px;
                background-color: #C6AEE7;
            }
            // tracce RANGE degli 8 input range
            .range {
                position: absolute;
                z-index: 2;
                top: 5px;
                bottom: 5px;
                border-radius: 30px;
                background-color: #6200EE;
                height: 30px;
            }
            .range.first {
                left: 0%;
                right: 75%;
            }
            .range.second {
                left: 25%;
                right: 50%;
            }
            .range.third {
                left: 50%;
                right: 25%;
            }
            .range.fourth {
                left: 75%;
                right: 0%;
            }
            // PALLINI degli 8 input range (NON quelli effettivi degli input, ma quelli che noi mettiamo sopra x avere pallini tuti sullo stesso piano, quelli che effettivamente VEDRO)
/*             .thumb {
                position: absolute;
                z-index: 3;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin: 5px 0;
            }
            .thumb.left.first {
                left: 0%;
                background-color: #00daee;
                transform: translate(5px, 5px);
            }
            .thumb.right.first {
                background-color: #00daee;
                right: 5%;
                transform: translate(-5px, 5px);
            }
            .thumb.left.second {
                background-color: #67ee00;
                left: 25%;
                transform: translate(5px, 5px);
            }
            .thumb.right.second {
                background-color: #67ee00;
                right: 50%;
                transform: translate(-5px, 5px);
            }
            .thumb.left.third {
                background-color: #dcca07;
                left: 50%;
                transform: translate(5px, 5px);
            }
            .thumb.right.third {
                background-color: #dcca07;
                right: 25%;
                transform: translate(-5px, 5px);
            }
            .thumb.left.fourth {
                background-color: #dc0707;
                left: 75%;
                transform: translate(5px, 5px);
            }
            .thumb.right.fourth {
                background-color: #dc0707;
                right: 0%;
                transform: translate(-5px, 5px);
            } */

        }
        // trattini dei breakpoints
        .container-breakpoints {
            margin-top: 60px;
            display: flex;
            .breakpointLeft {
                height: 10px;
                flex: 1;
                border-left: 1px solid grey;
            }
            .breakpointRight {
                height: 10px;
                flex: 1;
                border-left: 1px solid grey;
                border-right: 1px solid grey;
            }
        }
        // orari dei breakpoints
        .container-breakpoints1 {
            display: flex;
            .timeBreakpoint {
                height: 10px;
                flex: 1;
                transform: translate(-18px);
            }
            .lastRelative {
                position: relative;
            }
            .lastAbsolute {
                position: absolute;
                left: 100%;
            }
        }
        // BUBBLES
        .bubbles {
            margin-top: -55px;
            position: relative;
            height: 30px;
            //background-color: #dcca07;
            .generalBubbleStyle {
                position: absolute;
                border-radius: 30px;
                border: none;
                background-color: #68f5f5;
                display: none;
                padding: 5px 10px;
            }
        }
        // chiusura .interaBar
    }
    // chiusura .middle
}
/* 
#input-left-first {
    transform: translate(0px);
}
#input-right-first {
    transform: translate(-18px);
}
#input-left-second {
    transform: translate(5px);
}
#input-right-second {
    transform: translate(-13px);
}
#input-left-third {
    transform: translate(8px);
}
#input-right-third {
    transform: translate(-10px);
}
#input-left-fourth {
    transform: translate(13px);
}
#input-right-fourth {
    transform: translate(-5px);
} */

/* singole bubble con orario start/end di quella sezione */

#bubble1s {
    transform: translateX(-11.5px);
}
#bubble1e {
    transform: translateX(-15px);
}
#bubble2s {
    transform: translateX(-21.5px);
}
#bubble2e {
    transform: translateX(-25px);
}
#bubble3s {
    transform: translateX(-31.5px);
}
#bubble3e {
    transform: translateX(-35px);
}
#bubble4s {
    transform: translateX(-41.5px);
}
#bubble4e {
    transform: translateX(-45px);
}
// #saveTimeMenu {
//     border-radius: 7px;
// }

/* recap all section */

.recapTimeSection {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
}

@media only screen and (max-width:768px) {
    .middle {
        min-height: 400px;
        margin: 0;
        width: 100%;
        height: fit-content;
        // background-color: blue;
        padding-top: 40px;
        position: relative;
        margin-top: 40px;
    }
    //maxi div contenente tutto
    .interaBar {
        transform: rotate(90deg);
        height: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        //background-color: #dc0707;
        padding-bottom: 5em;
    }
    /* orario breakpoints */
    .timeBreakpoint {
        flex: 1;
        height: 10px;
        transform: rotate(-90deg);
        margin-left: 30px;
    }
    .lastAbsolute {
        position: absolute;
        height: 30px;
        background-color: yellow;
        margin-left: 30px;
        //left: 100%;
    }
    input[type="range"] {
        pointer-events: all;
    }
    input[type=range]::-webkit-slider-thumb {
        pointer-events: all;
    }
}