.body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.middle {
    position: relative;
    width: 50%;
    max-width: 500px;
    height: 100px;
    background-color: lightgrey;
}

.slider {
    position: relative;
    z-index: 1;
    height: 10px;
}


/* slide TOTALE che fa da background a tutto */

.slider>.track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: rgba(128, 0, 128, 0.28);
}


/* singolo RANGE */

.slider>.range {
    position: absolute;
    z-index: 2;
    left: 25%;
    right: 25%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: purple;
}


/* due bottoni (qst x entrambi) */

.slider>.thumb {
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    background-color: purple;
    border-radius: 50%;
    opacity: .3;
}


/* bottone di SX */

.slider>.thumb.left {
    left: 25%;
    transform: translate(-15px, -10px);
}


/* bottone di DX */

.slider>.thumb.right {
    right: 25%;
    transform: translate(15px, -10px);
}

input[type=range] {
    position: absolute;
    //-webkit-appearance: none;
    z-index: 2;
    height: 10px;
    width: 100%;
}

.range::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none; //nasconde la barr dietro
    pointer-events: none; //disabilita il click sulla barra
}

input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    pointer-events: auto; //abilita il click sui puntatori abbassati
}

#input-left {
    top: -110px;
}

#input-center {
    top: -80px;
}

#input-right {
    top: -50px;
}